body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("https://wallpapercat.com/w/full/e/2/f/567032-1920x1080-desktop-1080p-the-shire-the-lord-of-the-rings-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
}

.headingstyle
{
    font-size: 60px;
    color: black;
    text-align: center;
    font-weight: 700;
}

.descstyle
{
    font-size: 30px;
    color: black;
    text-align: center;
    font-weight: 600;
}

nav{
    display: flex;
    justify-content: center;
    gap: 10rem;
    align-items: center;
    
}

button{
    margin-top: 2rem;
    font-size: 30px;
    gap:1rem;
    width:8rem;
    border-radius: 15%;
}


.menudiv{
    border-radius: 25px;
    margin-top: 2rem;
    justify-self: center;
    height: 50rem;
    background-color: wheat;
    opacity: 1;
    width:70%;
    display: flex;  
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    

}

.menu-inner-divs{
    border-radius: 20px;
    height:19%;
    background-color: orange;
    font-size: larger;
    text-align: center;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.menu-desc{
    width: 60%;
    color: black;
    font-weight: 600;
    height:90%;
    display: flex;
    flex-direction: column;
}

.image1{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZO9X0q6klxIznRcUJFwRckuJBe5EE__Y0YQ&s");
}

.image2{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGeprjxPCANxAqVkOkbtjqcL4r8HlJQUifEw&s");
}

.image3{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTukxzqGHA9a7bViGgrPUh_lvTwmGN3Kz6BZA&s");
}

.image4{
    background-image: url("https://www.seriouseats.com/thmb/ilqnjuCcDfTgrWaM-lx1Xket6DA=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__recipes__images__2012__11__20121109-chichis-chinese-pork-belly-dish-c209d075d51e46b689b386ba12a4444e.jpg");
}

.image5{
    background-image: url("https://static.toiimg.com/photo/104368492.cms");
}

.imagecommonstyle
{
    background-repeat: no-repeat;
    height: 100%;
    width: 25rem;
    background-position: right;
    border-radius: 25px;
    background-size: cover;
}